#nen1{
    background-image: url(https://1.bp.blogspot.com/-57fbtlh3WS0/X1b1A-NgCFI/AAAAAAAAhZs/qBIrZLcH92cTiN4LyjFfCdORKh9vzlVYgCLcBGAsYHQ/s1600/numerology-report_20181228_600x320.jpg);
    
text-align:center;
margin:auto;
color:floralwhite;
background-size:auto;
    background-repeat: no-repeat;
    background-position: center;
}
body{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(https://1.bp.blogspot.com/-lUcAg_GnEWc/X5WrWhG6YjI/AAAAAAAAApo/pGxbWscKNrQo0Q8aJqqWii7OIgzaZSRdQCLcBGAsYHQ/s1600/than%2Bso%2Bhoc.jpg);
}